<h1 align="center">Coming Soon</h1>
<!-- <div class="main-content" style="margin-bottom: 50px;">
  <div class="post-show jobs-post" >     
    <div class="single-post-show">
      <a href="job-single.html"  data-toggle="tooltip" data-placement="left" title="Redisson Blue hotel"><img class="img-responsive   pull-left" src="/assets/radisson-logo.jpg" alt="">
      <h3>Storekeeper   <small>Posted 10 Day's  ago</small>  </h3>
      </a>
      <span class="pull-right applied">Applied</span>
      <div class="share-other tagsskill">
        <span class="title-tag">    Education:  HSC/Equivalent , <br />       Experience:   N/A 
        </span>               
      </div>
      <p>
        Vacancy: 5 <br />
        Salary: National pay scale 2016<br />
        Other Benefits: As per Company rules.<br />
      </p>
      <p>
        <a href="job-single.html" class="btn btn-sm btn-more">Read More</a>
      </p>
    </div>  
  </div>
</div> -->