<h1 align="center">Coming Soon<h1>
<!-- <div class="main-content" style="margin-bottom: 50px;">
  <div class="post-show jobs-post" >
    <div class="single-post-show">
      <a href="job-single.html"  data-toggle="tooltip" data-placement="left" title="Khulna Shipyard"><img class="img-responsive   pull-left" src="/assets/spi.png" alt="">
      <h3>Driver (Mobile/ Bath-crane)  <small>Posted 10  min ago</small></h3>
      </a>
      <div class="share-other tagsskill">
       <span class="title-tag">   Education:  SSC/Equivalent with valid driving licence , <br />  Experience:   05 years experience </span>
      </div>
      <p>
         Job Type : Government Jobs <br />
        Source : Bangladesh pratidin<br />
        Official website : khulnashipyard.com<br />
      </p>
      <p>
        <a href="job-single.html" class="btn btn-sm btn-more">Read More</a>
      </p>
    </div> 

    <div class="single-post-show">
      <a href="job-single.html"  data-toggle="tooltip" data-placement="left" title="Narayanganj dockyard Limited"><img class="img-responsive   pull-left" src="../img/ndoc.jfif" alt="">
      <h3>Technical assistance  <small>Posted 3 Day's  ago</small></h3>
      </a>
      <div class="share-other tagsskill">
       <span class="title-tag">   Education:  BSC/Equivalent , <br /> Experience:   01 years experience </span>                
      </div>
        <p>
           Vacancy: 15 <br />
          Salary: National pay scale 2015<br />
          Other Benefits: As per Govt rules.<br />
        </p>
        <p>
          <a href="job-single.html" class="btn btn-sm btn-more">Read More</a>
        </p>
    </div>
                  
                  
    <div class="single-post-show">
      <a href="job-single.html"  data-toggle="tooltip" data-placement="left" title="Chittagong Drydock Limited"><img class="img-responsive   pull-left" src="../img/chlogo.png" alt="">
      <h3>Driver (Mobile/ Bath-crane)  <small>Posted 3 Day's  ago</small></h3>
      </a>
      <div class="share-other tagsskill">
       <span class="title-tag">   Education:  SSC/Equivalent with valid driving licence , <br />  Experience:   01 years experience </span>
      </div>
      <p>
        Vacancy: 15 <br />
        Salary: National pay scale 2015<br />
        Other Benefits: As per Govt rules.<br />
      </p>
      <p>
        <a href="job-single.html" class="btn btn-sm btn-more">Read More</a></p>
    </div> 
                  
    <div class="single-post-show">
      <a href="job-single.html"  data-toggle="tooltip" data-placement="left" title="Redisson Blue hotel"><img class="img-responsive   pull-left" src="../img/radisson-logo.jpg" alt="">
      <h3>Storekeeper   <small>Posted 10 Day's  ago</small></h3>
      </a>
      <div class="share-other tagsskill">
       <span class="title-tag">   Education:  HSC/Equivalent , <br />Experience:  N/A </span>                 
      </div>
      <p>
         Vacancy: 5 <br />
        Salary: National pay scale 2016<br />
        Other Benefits: As per Company rules.<br />
      </p>
      <p>
        <a href="job-single.html" class="btn btn-sm btn-more">Read More</a></p>
    </div> 
  </div>
</div> -->