<h3>Hi <%= @user.name %>,</h3>
<p>Welcome to the BN Veteran Community.</p>
<p>Your account of BN Veteran has been authorized by BN Veteran administration. Now you can <%= link_to 'login', new_user_session_url %> with your credential.</p>

<br>
<p>Thanks & Regards</p>
<p>BN Veteran</p>