<div id="profile_img">
  <% if current_user.avatar.present? %>
      <%= image_tag(@user.avatar.url, alt: "Example Image", height: '160', width: '160', class: 'profile_img_tag',id:'profile-logo' ) %>
  <% else %>
      <img src="/assets/default-profile-picture.png" alt="Profile image example" class="profile_img_tag" id="profile-logo" />
  <% end %>

  <div class="remove-cover-pic">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" style="width: 150px">
          <div class="camera-logo" style="margin-top: 40px">
            <i class="fa fa-camera"></i>
          </div>
          <span style="color: #0088CC;">Change Profile Pic</span>
        </a>
        <ul class="dropdown-menu">
          <!--<li style="line-height: 0">-->
          <!--<%#= form_for @user, :html => {:multipart => true} do |f| %>-->
          <!--<%#= f.file_field :avatar, id: 'upload1' %>-->
          <!--<a href="" id="upload_link1">Upload photo</a>​-->
          <!--<%# end %>-->
          <!--</li>-->

          <li>
            <%= form_for @user, :html => {:multipart => true} do |f| %>
                <div class="custom-file-upload-wrap">
                  <span id="">Upload Image</span>
                  <%= f.file_field :avatar, class: '', id: 'profile_image' %>
                </div>
                <%#= f.file_field :avatar, id: 'profile_image', style:'padding-leftxx: 56px;' %>
                <!--<a href="" id="">Upload photo</a>​-->
            <% end %>
          </li>

          <li><%= link_to 'Remove Image', delete_profile_img_user_path(current_user), method: :delete, remote: true, class: 'remove-image-link', data: { confirm: 'Are you sure?' } %></li>
          <!--<li class="divider"></li>-->
        </ul>
      </li>
    </ul>
  </div>
</div>