<% if current_user.avatar.present? %>
  <%= image_tag(@user.avatar.url, alt: "Example Image", height: '160', width: '160', class: 'profile_img_tag') %>
<% else %>
  <img src="/assets/default-profile-picture.png" alt="Profile image example" class="profile_img_tag" />
<% end %>

<div class="remove-cover-pic">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-camera"></i>
        Change Profile Pic
      </a>
      <ul class="dropdown-menu">
        <li style="line-height: 0">
          <%= form_for @user, :html => {:multipart => true} do |f| %>
            <%= f.file_field :avatar, id: 'upload1' %>
            <a href="" id="upload_link1">Upload photo</a>​
          <% end %>
        </li>
        <li><%= link_to 'Remove Image', delete_profile_img_user_path(current_user),  method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li class="divider"></li>   
      </ul>
    </li>
  </ul>
</div>