<% if user %>
    <%= link_to user_path(user), remote: true do %>
        <div class="active-status">
          <div class="online_offline_avatar">
            <%= render 'shared/online_offline_status', user:user %>
          </div>
        </div>
        <%= image_tag user.avatar.present? ? user.avatar.url : 'default-profile-picture.png', class: 'img-responsive img-circle nav_img_class', style: 'margin-right: 5px' %>
    <% end %>
<% end %>
