<div class="bg-color tp-sp">
  <!--  <div class="u-list">
      <span>&copy; 2017 bnsocial</span>
      <span><a  href="" rel="noopener">About</a></span>
      <span><a  href="" rel="noopener">Help Center</a></span>
      <span><a  href="" rel="noopener">Terms</a></span>
      <span><a  href="" rel="noopener">Privacy policy</a></span>
      <span><a  href="" rel="noopener">Cookies</a></span>
      <span ><a  href="" rel="noopener">Ads info</a></span>
      <span ><a  href="" rel="noopener">Brand</a></span>
      <span ><a  href="" rel="noopener">Blog</a></span>
      <span ><a  href="" rel="noopener">Status</a></span>
      <span ><a  href="https://about.twitter.com/products" rel="noopener">Apps</a></span>
    </div>-->

  <div>
    <span class="type--fine-print">
      &copy;
      <span class="update-year"><%= Date.today.year %></span>
      Bangladesh Navy Veterans
    </span>

    <a class="type--fine-print" href="#">Privacy Policy</a>
    <a class="type--fine-print" href="#">Legal</a>
  </div>

</div>