<div class="bg-color tp-sp imlink-tag">

  <div class="title-bar">
    <strong>Important Links</strong>
  </div>

  <div role="separator" class="divider"></div>

  <div class="u-list">
    <span><a href="http://navy.mil.bd/" target="_blank">Bangladesh Navy</a></span>
    <span><a href="http://ions.navy.mil.bd/" target="_blank" >IONS</a></span>
    <span><a href="http://www.senakalyan.org" target="_blank" >Sena Kalyan Shangstha</a></span>
    <span><a href="http://www.basb.gov.bd/" target="_blank" >Bangladesh Armed Services Board</a></span>
    <span><a href="http://www.bdjobs.com/" target="_blank" >BD Jobs</a></span>
    <span><a href="http://w3.khulnashipyard.com/" target="_blank" >Khulna Shipyard</a></span>
    <span><a href="http://www.cddl.gov.bd/" target="_blank" >Chittagong Drydock</a></span>
    <span><a href="http://www.dewbn.com/" target="_blank" >Narayanganj Dockyard</a></span>
  </div>

</div>