<div class="bg-color tp-sp">
<div class="jp">
  <div class="title-bar">
    <strong>Job Post Guideline</strong>
  </div>

  <div role="separator" class="divider"></div>

  <div>
    <p style="color: black;" >To make job post use <strong>#job</strong> in your post.</p>
  </div>
</div>

</div>