<!--Modal for following, followers, like-->
<div id="bnveteran-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content medium-content">
    </div>
  </div>
</div>

<div id="bnveteran-modal-large" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    </div>
  </div>
</div>

<!--Modal for chatting-->
<div id="bnveteran-messaging-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    </div>
  </div>
</div>