<% if user.online? %>
    <span class="online" title="Online"><i class="fa fa-circle pull-left"></i></span>
<% else %>
    <span class="offline" title="Offline"><i class="fa fa-circle pull-left"></i></span>
<% end %>