<%= render 'shared/who_to_follow' %>

<%= render 'shared/important_link_after_login' %>

<%= render 'shared/footer_after_login' %>

<!--<div class="bg-color tp-sp">-->
<!--<div class="u-list">-->
<!--<span >-->
<!--<a  href="employer-index.html" rel="noopener">Employer dashboard</a>-->
<!--</span>-->
<!--</div>   -->
<!--</div>-->