<div class="bg-color">
  <ul class="nav panel-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">People</a></li>
    <li><a href="#tab2" data-toggle="tab">Posts</a></li>
  </ul>
  <div class="tab-content user-form-content clearfix">
    <div class="tab-pane active" id="tab1">
<!--
      <%# if @users.empty? %>
          <div class="well">
            <%#= render('shared/no_resource', resources: 'People') %>
          </div>
      <%# else %>
          <%# @users.each do |user| %>
              <div class="user-info">
                <div class="col-sm-2">
                  <%#= link_to user_path(user) do %>
                      <%#= image_tag user.avatar.present? ? user.avatar.url : 'default-profile-picture.png', class: 'img-responsive' %>
                  <%# end %>
                </div>
                <div class="col-sm-10">
                  <h3 class="name"><%#= link_to user.name, user_path(user), remote: true %></h3>
                  <span><%#= user.email %></span>
                </div>
              </div>
          <%# end %>
      <%# end %>-->


      <div id="user_list">
        <% if @users.present? %>
            <% @users.each do |user| %>
                <% unless user.email == 'reza@solutionart.net' %>
                <br>
                <%= render 'users/list_user_item', user: user %>
                    <% end %>
            <% end %>
        <% else %>
            <br>
            <div class="container-fluid well span6">
              <div class="no-resource text-center">
                <% if params[:value].present? %>
                    <h5>No Records Matches With "<%= params[:value] %>"</h5>
                <% else %>
                    <h5>No Records Found.</h5>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>


    </div>
    <div class="tab-pane" id="tab2">
      <div class="post-show">
        <div id="activities">
          <% if @activities.empty? %>
              <div class="well">
                <%= render('shared/no_resource', resources: 'Activities') %>
              </div>
          <% else %>
              <%= render_activities(@activities, layout: '/shared/activity') %>
          <% end %>
        </div>
        <%#= render 'shared/paginate', resources: @activities %>
      </div>
    </div>
  </div>
</div>