<div class="main-container" style="background-color: #dbe5f8" >

  <section class="text-center imagebg parallax banner_height"  data-overlay="4">
    <div class="background-image-holder">
      <div>
      </div>
      <%= image_tag('facilityinner/gallery_photo/photo-13.jpg') %>
    </div>
    <div class="img-space">
    </div>

  </section>
  <%#= render 'layouts/slider' %>

  <span class="clearfix">
			</span>
  <div class="container "  style="padding-top: 25px">
    <ol class="breadcrumb">
      <li></li>

      <li class="active"></li>

    </ol>
  </div>
			<span class="clearfix">
			</span>




  <div class="container">
    <div  class="col-md-12">
      <div class="center-heading home-title-facitlity chair-arrow detail-msg">
        <h2>Message from Chief of Naval Staff</h2>
      </div>
    </div>
  </div>


			<span class="clearfix">
			</span>
  <div class="container ph-section">

    <div class="col-md-12 col-sm-12 col-xs-12 chief-area-info  ">

      <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
        <%= image_tag('chief.jpg', class: 'img-thumbnail img-responsive pull-left chief-photo') %>
      </div>

      <div class="col-md-6  col-sm-6 col-xs-12">
        <p  class="chief-title text-center c-name">
          Vice Admiral Abu Mozaffar Mohiuddin Mohammad Aurangzeb Chowdhury, NBP, OSP, BCGM, BCGMS, ndc, psc <br>
          Chief of Naval Staff
        </p>
      </div>

      <div class="col-md-3  col-sm-3 col-xs-12">
        <div class=" ">
          <%= image_tag('logo_image/logo2.png', class: 'img-responsive  logo-inner pull-right') %>
        </div>
      </div>

      <span class="xlearfix"></span>
      <div class="chief-msgarea">
        <br />
        <p style="font-size: 19px;">Bangladesh Navy Veterans are from the generations past, who have sacrificed their blood, sweat, energy, spirit and even own sacret life to guarantee the freedom of our nation that we hold so dear. Since the birth of Bangladesh Navy (BN) in the womb of our liberation war, there have been a valiant group of sailors who dared to rule the waves of the Bay of Bengal.</p>
        <p style="font-size: 19px;">Starting from the scratch, with only two boat’s Padma and Palash, today BN has attained three dimensional capability with submarines, state-of-the-art surface combatants and naval air arm in her inventory. This was only possible because you were the light house, you charted the correct course so that we can make ETA on time. Our veterans showed us, how to set sail in the choppy sea, how to keep the ship always on track and maintain DR. </p>
        <p style="font-size: 19px;">Our veteran represent the best of sailors that a navy can ever possess. Merged with every walks of life, retired officers and sailors are making positive impact to the society as a whole. We are duty bound to take every opportunity to recognize our veterans and look after their well being. With the kind blessing of the Honorable Prime Minister Sheikh Hasina, number of projects and welfare skims have been initiated to widen the welfare network to our retired personnel. We ought to take every opportunity to acknowledge our veterans, their sacrifices and expect them in case of national requirement, if there is any.

          BN Veterans have once again proved that Navy is a complete way of life and only a rough sea can make a seasoned seaman, who knows to share, support, secure national interest and make supreme sacrifice.
        </p>

        <p style="font-size: 19px;">To keep the bonding tight and remain close to each other, a humble effort has been taken to connect the retired officers and sailors through a social network. This platform will certainly make them nostalgic, recapitulate their naval memories and remain abreast to the latest developments of BN, at the same time facilitate to reach out to the person who they need most.</p>

        <p style="font-size: 21px;">Best wishes for BN veteran family.<br />

          May Bangladesh Navy live forever.<br />
          May Bangladesh live forever.    <br /><br />
        </p>

      </div>

    </div>

  </div>

</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
  <i class="stack-interface stack-up-open-big"></i>
</a>