<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css">
  <div>
    <style type="text/css">
        .template{
            margin: auto;
            padding: 0;
            /*height: 650px;*/
            width: 60%;
            background-color: #FFFFFF;
            background-image: url('/assets/page1.png');
            background-attachment: fixed;
            background-repeat: no-repeat;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid #DADADA;
        }

        .header{
            /*height: 100px;*/
            width: 100% ;
            background-color: #C2E8F5;
        }
        .logo{
            text-align: center;
            padding: 15px;
        }
        .logo img{
            height: 80px;
            width: 80px;
        }

        .content {
            /*height: 500px;*/
            width: 100%;
            margin: auto;
        }

        .welcome-note{
            text-align: center;
            /*height: 40px;*/
        }

        .welcome-note p{
            margin: 0px;
            padding-top: 20px;
        }

        .description{
            width: 80%;
            /*height: 210px;*/
            margin: auto;
            text-align: justify;
        }

        .description p{
            margin: 0px;
            padding: 10px;
            text-align: justify;
        }

        .button{
            text-align: center;
            background-color: #00BBEA;
            width: 20%;
            /*height: 20px;*/
            margin: auto;
            padding: 10px;
            text-decoration: none;
        }
        .slide-image{
            margin-top: 20px;
            width: 80%;
            /*height: 230px;*/
            margin: auto;
            padding: 10px;

        }
        .slide-image img{
            width: 100%;
            height: 200px;
        }
        .footer{
            height: 38px;
            width: 100%;
            margin: auto;
            background-color: #C2E8F5;
            text-align: center;
        }
        .footer p{
            padding: 11px;
            text-color: black;
            font-size: 12px;
        }
    </style>
  </div>
</head>
<body>
<div class="template">

  <div class="header">
    <div class="logo">
      <%#= image_tag("logo_image/logo-light.jpg", :alt => "" ) %>
      <a href="http://139.59.119.50/" target="_blank">
        <img src="<%= image_url('logo_image/logo-light.jpg') %>" alt="" />
      </a>
    </div>
  </div>

  <div class="content">

    <div class="welcome-note">
      <p><b>Message From <span style="color: #00dd1c">Md Ariful Islam</span></b></p>
    </div>

    <div class="description">
      <p>Bangladesh Navy Veterans are from the generations past, who have sacrificed their blood,
        sweat, energy, spirit and even own sacret life to guarantee the freedom of our nation that
        we hold so dear. Since the birth of Bangladesh Navy (BN) in the womb of our liberation war,
        there have been a valiant group of sailors who dared to rule the waves of the Bay of Bengal.
        Starting from the scratch, with only two boat’s Padma and Palash, today BN has attained three
        dimensional capability with submarines, state-of-the-art surface combatants and naval air arm
        in her inventory. This was only possible because you were the light house, you charted the correct
        course so that we can make ETA on time. </p>
    </div>

    <div class="button">
      <a href="http://139.59.119.50/" target="_blank"> Let's Visit</a>
    </div>
    <div class="slide-image">
      <%= image_tag("facilityinner/gallery_photo/photo-11.jpg", :alt => "") %>
    </div>

  </div>

  <div class="footer">
    <p><a href="http://139.59.119.50/" target="_blank">BN Veteran</a></p>
  </div>

</div>
</body>
</html>